html(lang="en")
  head
    //- link(rel="stylesheet", href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css", type="text/css")
    link(rel="stylesheet", href="http://openlayers.org/en/v3.17.1/css/ol.css", type="text/css")
    div.nav
      div Sign Up
      div Log In
      form
        input(value="Search")
    h1 Attractions and Oddities
    div#map(style="height: 600px; width: 800px; border: 1px solid black;")

    script(src="http://openlayers.org/en/v3.17.1/build/ol.js", type="text/javascript")
    script(src="js/map.js" type="text/javascript")
        
    //-     
    //- script(src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js", type="text/javascript")
    //- script(type="text/javascript").
    //-   var mymap = L.map('map').setView([56.00, 17.00], 4);
    //-   L.tileLayer('http://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    //-   attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
    //-   maxZoom: 18,
    //-   id: 'your.mapbox.project.id',
    //-   accessToken: 'your.mapbox.public.access.token'}).addTo(mymap);
